{% macro multibar(id, columns, title, data, date_format="%m/%d/%y %H:%M:00") %}
    <div id="chart{{id}}" class="col-md-{{columns}} dash-chart">
        <h3>{{title}}</h3>
        <svg></svg>
    </div>
    <script>
        $(document).ready(build_multibarchart_{{id}});

        function build_multibarchart_{{id}}(){
            var data = eval({{data|safe}});
            nv.addGraph(function() {
                var chart = nv.models.multiBarChart();

                chart.xAxis
                .tickFormat(function(d) {
                    return d3.time.format("{{date_format}}")(new Date(d));
                });

                chart.yAxis
                .tickFormat(d3.format(',.1f'));
                d3.select('#chart{{id}} svg')
                .datum(data)
                .transition().duration(500)
                .call(chart)
                ;

                nv.utils.windowResize(chart.update);

                return chart;
            });
        }
    </script>
{% endmacro %}


{% macro pie(id, columns, title, data) %}
    <div id="chart{{id}}" class="col-md-{{columns}} dash-chart pie">
        <h3>{{title}}</h3>
        <svg></svg>
    </div>
    <script>
    $(document).ready(build_piechart_{{id}});

    function build_piechart_{{id}}(){
        var data = eval({{data|safe}});
        nv.addGraph(function() {
            var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;

            d3.select("#chart{{id}} svg")
            .datum(data)
            .transition().duration(350)
            .call(chart);

            return chart;
        });
    }
    </script>
{% endmacro %}
